{% extends 'base.html' %}


{% block jsscript %}
<link rel="stylesheet" href="https://cdn.datatables.net/1.13.7/css/jquery.dataTables.css" /> 
<script src="https://cdn.datatables.net/1.13.7/js/jquery.dataTables.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
{% endblock %}


{% block content %}
    
    <div class ="container  mr-3 mt-1 p-2  rounded">
            
        <div class="card-body mx-1 mt-1 shadow">
        <h1 class="h3 mb-2 font-weight-normal card-title font-monospace">Session Information</h1>
        <hr>
        <div class="row">
            <div class="col-sm-3">
            <p class="mb-0 font-monospace">Subject Name</p>
            </div>
            <div class="col-sm-9">
            <p class="text-muted mb-0">{{session.subject}}</p>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-sm-3">
            <p class="mb-0 font-monospace">Session Date</p>
            </div>
            <div class="col-sm-9">
            <p class="text-muted mb-0">{{session.date}}</p>
            </div>
        </div>
    </div>
    <hr>
    <div class ="container mt-3 p-2 text-center ">
        <div class="card shadow-sm mx-1">
          <div class="card-body">
            <h5 class="card-title font-monospace">Add data to the session</h5>
            <a href="{% url 'model_Page' %}?key={{session.key}}{{ request.GET.urlencode }}" class="btn btn-light shadow-sm border-light">Upload photos</a>
          </div>
        </div>
      </div>
      <hr>
    <div class = "container my-3 mx-1 p-2 border-dark" id = "attendance table">
        <div class = "mb-3">
          <h6 class="font-weight-normal font-monospace">Recieved attendance of this session</h6>
        </div>
        <div id = "table-content" class = "table-responsive my-2 p-3 shadow-sm  ">
            <table id = "datatable" class = "table">
                <thead>
                    <tr>
                        <th>Rollno</th>
                        <th>Timestamp</th>
                    </tr>
                </thead>
                {% for data in result_data %}
                <tr>
                    <td>{{data.rollno}}</td>
                    <td>{{data.timestamp}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
      </div>
      <script>
        $(document).ready(function() {
            $('#datatable').DataTable({
            paging: true, // Enable paging
            searching: true, // Enable searching/filtering
            ordering: true, // Enable sorting
            info: true // Show information
            // Add more options as needed
            });
        });
    </script>
{% endblock %}